<p id="notice"><%= notice %></p>

<h1>Spots</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tsukkomi</th>
      <th>Img</th>
      <th>Discription</th>
      <th>Addrress</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spots.each do |spot| %>
      <tr>
        <td><%= spot.name %></td>
        <td><%= spot.tsukkomi %></td>
        <td><%= image_tag(spot.img.thumb.url, :class => "menu_icon", height: "50", witth: "50") %></td>
        <td><%= spot.discription %></td>
        <td><%= spot.address %></td>
        <td><%= link_to 'Show', spot %></td>
        <td><%= link_to 'Edit', edit_spot_path(spot) %></td>
        <td><%= link_to 'Destroy', spot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spot', new_spot_path %>
